@import '../../../vars.scss';
.container{
    width: 100vw; height: max-content;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4vh max-content;
    padding: 0 5%;
    .tittle{
        grid-row: 1/2;
        width: 100%; height: 100%;
        display: flex;
        align-items: center;
        h2{
            width: 100%; height: max-content; 
            font-weight: 600; font-size: 1.5rem;
            border-bottom: .3rem solid $accent1;
        }
    }
    .series{
        width: 100%; height: 30vh;
        display: grid;
        grid-template-columns: repeat(8, 11.625%);
        grid-template-rows: 100%;
        grid-column-gap: 1%;
        .-cover{
            width: 100%; height: 100%;
            grid-column: span 1; grid-row: 1/2;
            overflow: hidden;
            cursor: pointer; transition: height ease .25s;
            display: flex; justify-content: center;
            position: relative;
            &:hover{
                height: calc(100% + 2.5vh);
                img{
                    height: 120%;
                    filter: none;
                }
            }
            img{
                transition: all ease .5s;
                width: max-content;
                height: 100%;
                filter: grayscale(1);
            }
            .-tittle{
                position: absolute;
                bottom: 1vh;
                h4{
                    font-size: 1.3vh;
                }
            }
        }
    }
}

@media screen and (max-width:1300px) {
    .container{
        .series{
            grid-template-columns: repeat(6, 15.8333333%) !important;
        }
    }
}
@media screen and (max-width:1040px) {
    .container{
        .series{
            grid-template-columns: repeat(5, 19.2%) !important;
        }
    }
}
@media screen and (max-width:845px) {
    .container{
        .series{
            grid-template-columns: repeat(4, 24.25%) !important;
        }
    }
}
@media screen and (max-width:650px) {
    .container{
        .series{
            grid-template-columns: repeat(3, 32.666666%) !important;
        }
    }
}
@media screen and (max-width:500px) {
    .container{
        .series{
            height: 25vh !important;
        }
    }
}