<div class="container">
    <div class="popular">
        <div class="preview" *ngIf="chargue_status == true" [ngStyle]="{'left':popular_left + '%'}">
            <div class="img" *ngFor="let popular_item of popular"><img loading="lazy" [src]="popular_item.thumnail" [routerLink]="'/serie/preview/' + this.popular_item._id + '/' + this.popular_item.name" referrerpolicy="no-referrer" alt=""></div>
            <app-display *ngFor="let ads of [1, 1, 1]"></app-display>
        </div>
        <div class="loader" style="height: 100%;" *ngIf="chargue_status == false"><div class="img"><img src="assets/spinner-white-icon.svg" alt=""></div></div>
    </div>

    <div class="keep-wacthing" *ngIf="viewing.length > 0">
        <div class="tittle">
            <h2>Seguir viendo</h2>
        </div>
        <div class="series-viewed" *ngFor="let chapters of viewing | slice:0:3" (click)="rlink(chapters.redirect, chapters.minute)">
            <div class="video"><img class="responsive" referrerpolicy="no-referrer" [src]="chapters.thumnail" loading="lazy"></div>
            <div class="info">
                <p>{{chapters.name}}</p>
                <p>{{chapters.minute}}</p>
            </div>
        </div>
    </div>

    <section class="series">
        <app-series-list (order_series)="order($event)" [chargue_status]="chargue_status" [orderSeries]="orderSeries"></app-series-list>
    </section>
</div>