<div class="container">
    <div class="popular">
        <div class="preview" *ngIf="chargue_status == true && popular != []">
            <div class="img" *ngFor="let popular_item of popular">
                <img *ngIf="popular_item != undefined" loading="lazy" [src]="popular_item.PCCover" [routerLink]="'/serie/preview/' + this.popular_item._id + '/' + this.popular_item.name" referrerpolicy="no-referrer" alt="">
            </div>
            <app-display></app-display>
            <app-display></app-display>
            <app-display></app-display>
        </div>
        <div class="loader" style="height: 100%;" *ngIf="chargue_status == false"><div class="img"><img src="assets/spinner-white-icon.svg" alt=""></div></div>
    </div>

    <div class="keep-wacthing" *ngIf="viewing.length > 0">
        <div class="tittle">
            <h2>Seguir viendo</h2>
        </div>
        <div class="series-viewed" *ngFor="let chapters of viewing | slice:0:3" (click)="rlink(chapters.redirect, chapters.minute)">
            <div class="video"><img class="responsive" referrerpolicy="no-referrer" [src]="chapters.thumnail" loading="lazy"></div>
            <div class="info">
                <p>{{chapters.name}}</p>
                <p>{{chapters.minute}}</p>
            </div>
        </div>
    </div>

    <app-adverts [_data]="{_values:{background:'#00000000', button:'accent'}, _serie:cover_selected.section[0]}"></app-adverts>

    <section class="series">
        <app-series-list (order_series)="DefineOrder($event)" [chargue_status]="chargue_status" [covers_list]="covers_list"></app-series-list>
    </section>

    <app-adverts [_data]="{_values:{background:'#4313c7', button:'white'}, _serie:cover_selected.section[0]}"></app-adverts>

    <app-recomendations></app-recomendations>

    <app-adverts [_data]="{_values:{background:'#F1414E', button:'white'}, _serie:cover_selected.section[0]}"></app-adverts>
</div>