@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%; height: max-content;
    display: grid; grid-template-columns: 100%;
    grid-template-rows: 60vh max-content max-content;
    overflow-x: hidden; overflow: visible;
    justify-items: center;
    grid-row-gap: 1rem;
    & div.tittle{
        grid-row: 1/2;
        width: 100%; height: 100%;
        display: flex;
        align-items: center;
        h2{
            width: 100%; height: max-content; 
            font-weight: 600; font-size: 1.5rem;
            border-bottom: .3rem solid #6128FF;
        }
    }
}
.popular{
    width: 100%; height: 60vh;
    overflow: hidden;
    background: #6128FF;
    background-image: url('../../../assets/home-popular-background.svg');
    background-size: cover;
    background-position: center;
    position: relative;
    .preview{
        position: absolute;
        width: 500%; height: 100%;
        display: grid; align-items: center; justify-items: center;
        grid-template-columns: repeat(5, 20%); grid-template-rows: 100%;
        transition: left ease 1s;
        &>*{
            grid-column: span 1; grid-row: 1/2;
            @include flex-center;
            position: relative;
            width: 80%; height: 95%;
            &>*{cursor: pointer;}
        }
    }
}
.keep-wacthing{
    width: 85vw;
    height: 22rem;
    display: grid;
    grid-template-columns: repeat(4, 22.75%);
    grid-template-rows: 3rem auto;
    grid-column-gap: 3%; grid-row-gap: 1rem;
    .tittle{grid-column: 1 / 5;}
    .series-viewed{
        width: 100%;
        height: 100%;
        padding: 5%;
        grid-row: 2;
        cursor: pointer;
        transition: all ease .5s;
        .video{
            @include flex-center;
            background: #13131380;
            width: 100%; height: 80%;
        }
        .info{
            width: 100%; height: 20%;
            display: flex; align-items: center; justify-content: space-between;
        }
        &:hover{
            background: #13131379;
        }
    }
}
section.series{
    width: max-content; height: max-content; grid-row: 3/4;
}
@media screen and (max-width:950px) {
    .keep-wacthing{
        grid-template-rows: 5vw auto;
    }
}
@media screen and (max-width:600px) {
    .container{
        grid-template-rows: 40vh max-content max-content !important;
    }
    .popular{
        height: 40vh;
        .preview>*{
            width: 100% !important; height: 100% !important;
        }
    }
    .keep-wacthing{
        width: 90vw !important;
    }
}