@import '../../../vars.scss';
.container{
    width: 90vw;
    height: 30vh;
    display: grid;
    grid-template-columns: 36% 62%;
    grid-template-rows: 100%;
    grid-column-gap: 2%;
    padding: 0 5%;
    section{
        width: 100%;
        height: 100%;
        padding: 5% 0;
        &.-image{
            .img{
                display: flex;
                justify-content: center;
                width: auto;
                height: 100%;
                max-width: 100%;
                overflow: hidden;
                img{
                    height: 100%;
                    max-width: none;
                }
            }
        }
        &.-info{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 20% 56% 20%;
            grid-row-gap: 2%;
            .-tittle{
                width: 100%; height: 100%;
                grid-row: 1/2;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 60% 40%;
                align-items: center;
                *{
                    width: 100%; height: max-content;
                    grid-row: span 1;
                }
                h4{
                    font-size: 2vh;
                    font-weight: 600;
                }
                p{
                    font-size: 1.3vh;
                }
            }
            .-description{
                width: 100%; height: 100%;
                grid-row: 2/3;
                overflow: hidden;
                p{
                    font-size: 1.4vh;
                }
            }
            .-button{
                width: 100%; height: 100%;
                grid-row: 3/4;
                button{
                    width: 30%; height: 100%;
                    color: #000;
                    cursor: pointer;
                    font-size: 1.3vh;
                    &.white{
                        transition: box-shadow .5s ease;
                        background: #fff;
                        &:hover{
                            box-shadow: 0 0 1vh 0 #fff;
                        }
                    }
                    &.accent{
                        transition: background .5s ease;
                        background: $accent1;
                        &:hover{
                            background: #fff;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:950px) {
    .container{
        padding: 0 2.5% !important;
    }
}
@media screen and (max-width:700px) {
    .container{
        section.-info .-button button{
            width: 40% !important;
        }
    }
}
@media screen and (max-width:600px) {
    .container{
        width: 100vw !important;
        padding: 0 5% !important;
    }
}
@media screen and (max-width:500px) {
    .container{
        height: 25vh !important;
        section.-info .-button button{
            width: 50% !important;
        }
    }
}