@import '../../../vars.scss';
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    height: 10vh;
    position: relative;
    padding: 0 2.5%;
    .selected{
        width: 100%;
        height: 100%;
        h4{
            @include flex-center();
            justify-content: flex-start;
            width: 100%; height: 100%;
            padding: 0 2.5%;
            cursor: pointer;
            font-size: 3.5vh;
            font-weight: 600;
            transition: color ease .5s;
            &:hover{
                color: $morado1;
            }
        }
    }
    form.selector{
        height: max-content; width: 50%;
        max-height: calc(4*7vh);
        top: 100%;
        position: absolute; z-index: 3000;
        overflow-x: hidden;
        overflow-y: scroll;
        background: $morado3;
        &::-webkit-scrollbar{background: $morado3}
        &::-webkit-scrollbar-thumb{background: #ffffff;}
        .form-group{
            width: 100%; height: 7vh;
            .option-style{
                @include flex-center();
                justify-content: flex-start;
                height: 100%; width: 100%;
                background: $morado2;
                padding: 0 2.5%;
                cursor: pointer;
                transition: background ease .5s;
                font-size: 2vh;
                &:hover{
                    background: $morado1;
                }
                &.true{
                    background: $morado3 !important;
                }
            }
        }
    }
}
@media screen and (max-width:900px) {
    form.selector{
        width: 95% !important;
    }
}