<footer [ngStyle]="{'background': 'linear-gradient(' + background + ' 0%,' + background + ' 10%, #6128ff8e 100%)'}">
    <section class="data">
        <div class="img"><img src="assets/Dionisium-logo.svg" alt=""></div>
        <div class="links">
            <h4 class="tittle">enlaces</h4>
            <a routerLink="">Preguntas Frecuentes</a>
            <a routerLink="">Politica de Privacidad</a>
            <a routerLink="">Terminos Legales</a>
            <a routerLink="">cuenta</a>
            <a routerLink="">inicio</a>
        </div>
    </section>

    <div class="info">
        <h4 class="tittle">sobre nosotros</h4>
        <p>adsadda@gmail.com</p>
        <p>5555-5555-555</p>
        <p>argentina, buenos aires</p>
    </div>

    <section class="medias">
        <div class="social-media">
            <div class="tittle"><h4 class="tittle">redes sociales</h4></div>
            <div class="-medias" *ngFor="let media of medias">
                <div class="img"><img [src]="media.img" alt=""></div>
            </div>
        </div>
    </section>
</footer>