@import '../../vars.scss';
footer{
    width: 100%; height: 65vh;
    padding: 2.5% 5%; padding-top: 10%;
    position: relative;
    display: grid; 
    // justify-items: center;
    grid-template-columns: 50% 50%; grid-template-rows: 50% 50%;
    h4.tittle{
        font-size: 1.6vh;
        font-weight: 600;
    }
    section.data{
        grid-row: 1/2; grid-column: 1/2;
        width: 100%; height: 100%;
        display: grid; 
        grid-template-columns: max-content auto; grid-template-rows: 100%; grid-column-gap: 4%;
        .img{
            grid-row: 1/2; grid-column: 1/2;
            width: 100%; height: 100%; padding: 10%;
        }
        .links{
            grid-row: 1/2; grid-column: 2/3;
            width: 100%; height: 100%;
            display: grid; grid-template-rows: repeat(6, 16%); grid-template-columns: 100%;
            grid-row-gap: .8%;
            align-items: center;
            *{
                grid-column: 1/2; grid-row: span 1;
                width: 100%; height: max-content; padding: 0 3%;
            }
            a{color: $textos2; font-size: 1.1vh; text-decoration: none;}
        }
    }
    .info{
        grid-row: 2/3; grid-column: 1/2;
        width: 100%; height: 100%;
        display: grid;
        grid-template-rows: repeat(4, 22.75%); grid-template-columns: 100%;
        grid-row-gap: 3%;
        h4, p{
            font-size: 1.3vh;
            grid-column: 1/2; grid-row: span 1;
            width: 100%; height: max-content; padding: 0 3%;
        }
    }
    section.medias{
        grid-row: 2/3; grid-column: 2/3;
        width: 100%; height: 100%;
        display: flex; align-items: flex-end; justify-content: flex-end;
        .social-media{
            width: 50%; height: 50%; max-height: 15vh;
            display: grid; grid-template-columns: repeat(5, 20%); grid-template-rows: 30% auto 50%;
            align-items: center;
            .tittle{
                grid-row: 1/2; grid-column: 1/6;
                width: 100%; height: max-content;
            }
            .-medias{
                grid-row: 3/4; grid-column: span 1;
                cursor: pointer; transition: transform .5s ease;
                width: max-content; height: 100%;
                &:hover{
                    transform: scale(1.05);
                }
                .img{
                    width: 100%; height: 100%;
                }
            }
        }
    }
}
@media screen and (max-width:1050px) {
    footer{
        .social-media{
            width: 70% !important;
            height: 40% !important;
        }
    }
}
@media screen and (max-width:850px) {
    footer{
        .social-media{
            width: 100% !important;
            height: 35% !important;
        }
    }
}
@media screen and (max-width:650px) {
    footer{
        height: 45vh !important;
        grid-template-rows: repeat(2, 13.5vh) 10vh !important;
        section.data{
            grid-column: 1/3 !important;
            grid-row: 1/3 !important;
            .links{
                a{font-size: 1.5vh !important;}
            }
        }
        .info{
            display: none !important;
        }
        section.medias{
            grid-column: 1/3 !important;
            grid-row: 3/4 !important;
            .social-media{
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
}