<div class="container" *ngIf="orderSeries.name">
    <div class="tittle">
        <h2>{{this.orderSeries.name}}</h2>
    </div>

    <div class="options">
        <div class="-option" *ngFor="let options of series">
            <h2 (click)="order(options.tittle)">{{options.tittle}}</h2>
        </div>
    </div>
    
    <div class="series" *ngIf="chargue_status == true && orderSeries.section != undefined && orderSeries.section.length > 0">
        <div class="series-cover" *ngFor="let i of objects | slice:0:this.orderSeries.section.length | slice:0:10" [class]="this.classes[i]" [ngStyle]="{'background-image': 'url(' + this.orderSeries.section[i].thumnail + ')'}">
            <div class="preview">
                <div class="img"><img referrerpolicy="no-referrer" [src]="this.orderSeries.section[i].thumnail" loading="lazy"></div>
                <a class="shadow" [routerLink]="'/serie/preview/' + this.orderSeries.section[i]._id + '/' + this.orderSeries.section[i].name" (click)="updateViews(this.orderSeries.section[i].serie ,this.orderSeries.section[i]._id)">
                    <h2>{{this.orderSeries.section[i].name}}</h2>
                    <h3>{{this.orderSeries.section[i].date}}</h3>
                </a>
            </div>
        </div>
    </div>
    
    <div class="loader" *ngIf="chargue_status == false || orderSeries.section.length <= 0"><div class="img"><img src="assets/spinner-icon.svg" alt=""></div></div>
</div>