<title>{{this.serie}} - episodio {{this.chapter.number}}</title>
<div class="container">
    <div class="player" *ngIf="chapter != []">
        <div class="video">
            <video controls #video [src]="chapter.secure_url" referrerpolicy="no-referrer" loading="lazy" width="360"></video>
        </div>
        <div class="tittle">
            <h1>{{this.serie}} - episodio {{this.chapter.number}}</h1>
            <h3>{{this.chapter.description}}</h3>
        </div>
    </div>

    <div class="change">
        <app-change-videos [season_id]="season" [serie_name]="serie"></app-change-videos>
    </div>
</div>