<div class="container">
    <section class="one">
        <div class="tittle">
            <h2 class="tittle">a tu alcance</h2>
            <h1 class="tittle">Dionisium</h1>
            <h3 class="tittle">El Servicio de streaming gratuito. cientos de series con un solo click.</h3>
            <button routerLink="/list" class="btn">Descúbrelo</button>
        </div>
    </section>
    <section class="two">
        <div class="img"><img src="assets/Dionisium-logo.svg" alt=""></div>
    </section>
</div>
<!-- <app-footer></app-footer> -->