<div class="container">
    <app-home-display></app-home-display>
    <div class="about">
        <div class="-us">
            <div class="-icon">
                <div class="img"><img src="assets/Nagi-Control-image.png" alt=""></div>
            </div>
            <div class="-info">
                <h3 class="tittle">Tan Solo Una Hora</h3>
                <p>Disfruta de tus Series Favoritas tan Solo una Hora Despues del Estreno en Japon</p>
            </div>
        </div>
        <div class="-us">
            <div class="-icon">
                <div class="img"><img src="assets/Makima-image.png" alt=""></div>
            </div>
            <div class="-info">
                <h3 class="tittle">En La Mejor Calidad</h3>
                <p>Ve los Capitulos en la Mejor Calidad</p>
            </div>
        </div>
        <div class="-us">
            <div class="-icon">
                <div class="img"><img src="assets/Eren-image.png" alt=""></div>
            </div>
            <div class="-info">
                <h3 class="tittle">Horas de Entretenimiento</h3>
                <p>Un Enorme Catalogo de Series</p>
            </div>
        </div>
        <div class="-us">
            <div class="-icon">
                <div class="img"><img src="assets/Dionisium-logo.svg" alt=""></div>
            </div>
            <div class="-info">
                <h3 class="tittle">Los Mejores Animes</h3>
                <p>Disfruta de los mejores animes en todo momento</p>
            </div>
        </div>
    </div>
    <app-questions></app-questions>
</div>