@import '../../vars.scss';
.container{
    width: 100%; height: max-content;
    background: #0f0324;
    display: grid; grid-auto-rows: max-content;
    grid-row-gap: 2.5vh;
    padding: 2.5vh 5%;
    .about{
        width: 100%; height: 112.8vh;
        grid-row: span 1;
        display: grid;
        grid-template-rows: repeat(2, calc(50% - 1.25vh)); grid-template-columns: repeat(2, calc(50% - 1.25vh));
        grid-gap: 2.5vh;
        .-us{
            width: 100%; height: 100%;
            grid-row: span 1; grid-column: span 1;
            background: radial-gradient(99.93% 134.44% at 17.93% 0%, #1d0647 0%, #0d0f30 57.21%, #f141c557 99.57%);
            border-radius: .7vh;
            display: grid;
            grid-template-columns: 100%; grid-template-rows: 80% auto;
            grid-row-gap: 1vh;
            padding: 2.5% 0;
            .-icon{
                width: 100%; height: 100%;
                grid-row: 1/2;
                .img{
                    width: 100%; height: 100%;
                    display: flex; align-items: center; justify-content: center;
                    padding: 1.25% 0;
                }
            }
            .-info{
                width: 100%; height: 100%;
                grid-row: 2/3;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 20% auto;
                grid-row-gap: 1.5vh;
                padding: 0 7.5%;
                h3.tittle{
                    width: 100%; height: 100%;
                    font-size: 1.8vh;
                    font-weight: 600;
                }
                p{
                    width: 100%; height: 100%;
                    font-size: 1.2vh;
                }
            }
        }
    }
}
@media screen and (max-width:1100px) {
    .container .about{
        height: 200vh !important;
        grid-template-rows: repeat(4, calc(25% - 2.5vh)) !important; grid-template-columns: repeat(1, 100%) !important;
    }
}