<title>{{this.serie.name}}</title>
<div class="container">
    <div class="shadow" [ngStyle]="{'background-image': 'url(' + serie.PCCover + ')'}">
        <div class="img"><img [src]="serie.PCCover" loading="lazy" referrerpolicy="no-referrer" alt=""></div>
    </div>
    <div class="body">
        <div class="description">
            <h3>{{this.serie.name}}</h3>
            <p>{{this.serie.description}}</p>
        </div>
        <div class="video">
            <img [src]="''" alt="">
        </div>
    </div>
</div>