@import '../../../vars.scss';
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    height: 94vh;
    .shadow{
        width: 100%;
        height: 65%;
        background-size: cover;
        .img{
            @include flex-center;
            width: 100%;
            height: 100%;
            background: #77777773;
            backdrop-filter: blur(.5rem);
        }
    }
    .body{
        @include flex-center;
        justify-content: space-between;
        width: 100%;
        height: 35%;
        padding: 1.5vh 5%;
        .description{
            width: 40%;
            height: 100%;
            display: grid;
            grid-template-rows: max-content auto;
            grid-row-gap: 2.5%;
            align-items: center;
            h3{
                font-size: 2.5vh;
                font-weight: 800;
                overflow-wrap: break-word;
                color: $morado1;
            }
            p{
                width: 100%;
                height: 100%;
                overflow-wrap: break-word;
                font-size: 1.6vh;
            }
        }
        .video{
            @include flex-center;
            width: 30%;
            height: 90%;
            max-height: 18vw;
            background: #2c2c2c;
            border-radius: 1vh; overflow: hidden;
            img{
                width: 100%;
                height: auto;
                max-height: 45vh;
            }
        }
    }
}
@media screen and (max-width:950px) {
    .body{
        .description{
            width: 100% !important;
        }
        .video{
            display: none !important;
        }
    }
}
@media screen and (max-width:600px) {
    .container{
        height: max-content;
        min-height: 60vh;
    }
}