@import './vars.scss';
.container{
    width: 100vw;
    height: 94vh;
    position: relative;
    overflow-x: hidden;
    z-index: 10;
    background: radial-gradient(45% 100% at 15% 35%, #0c033a 0%, #00000000 70%), 
    radial-gradient(35% 50% at 100% 95%, #f1414e30 0%, #00000000 60%), #080010;
}
.touch{
    display: none;
    & + .container::-webkit-scrollbar{width: 0;}
}
@media screen and (max-width:600px) {
    .container::-webkit-scrollbar{
        width: 0;
    }
    .container{
        background: #000 !important;
    }
}