// Fondos Base
$background1:#000000;
$background1-40:#0000007a;
// Fondos Secundarios
$background2:#0f0f0f;
$background2-40:#0f0f0f7a;
// Fondos Terciarios
$background3:#161616;
$background3-40:#1616167a;
// Fondos Videos
$background4:#13131380;

// Textos Base
$textos1:#ebebeb;
// Textos Secundarios
$textos2:#efefef;
// Textos Detalles
$textos3:#9e9e9e;
// Textos Detalles 2
$textos4:#b3b3b3;

// Morado Base
$morado1:#6128ff;
// Morado Button
$morado2:#4313c7;
// Morado Scroll
$morado3:#2c098d;

// Tono de Acento 1 (rojo salmon)
$accent1:#F1414E;