@import '../../../vars.scss';
.container{
    width: 100%; height: max-content; min-height: 96vh;
    display: grid; grid-template-columns: 100%;
    grid-template-rows: 6% minmax(93%, max-content); grid-column-gap: 1%;
    .tittle{
        width: 100%; height: 100%;
        grid-row: 1/2; grid-column: 1/2;
        h3{
            font-size: 2.1vh;
        }
    }
    .chapters{
        width: 100%; height: max-content; min-height: 100%;
        grid-row: 2/3; grid-column: 1/2;
        display: grid; grid-template-columns: 100%;
        grid-auto-rows: 9.3vh; grid-row-gap: 1.2vh;
        .chapter{
            width: 100%; height: 100%;
            grid-row: span 1; grid-column: 1/2;
            display: grid; grid-template-columns: 45% 52.5%;
            grid-template-rows: 100%; grid-column-gap: 2.5%;
            cursor: pointer;
            .img{
                display: flex; justify-content: center; align-items: center;
                width: 100%; height: 100%;
                overflow: hidden; border-radius: .5vh;
                img{
                    width: 100% !important;
                    height: auto !important;
                    max-height: 30vh !important;
                }
            }
            .name{
                width: 100%; height: 3.5vh;
                overflow: hidden;
                h4{
                    max-height: 100%;
                    font-size: 1.35vh;
                    font-weight: 600;
                    transition: color ease .5s;
                    overflow-wrap: break-word;
                }
            }
            &:hover .name h4{
                color: $morado1;
            }
        }
    }
}
@media screen and (max-width:900px) {
    .tittle{
        padding: 0 2% !important;
    }
    .chapter{
        padding: 0 2% !important;
        .img{
            background: none !important;
        }
    }
}