.container{
    width: 100%; height: 96vh;
    display: grid; grid-template-columns: 100%;
    grid-template-rows: repeat(8, 11.75%); grid-row-gap: 1%;
    .chapter{
        width: 100%; height: 100%;
        grid-row: span; grid-column: 1/2;
        display: grid; grid-template-columns: 45% 58%;
        grid-template-rows: 100%; grid-column-gap: 2.5%;
        padding: 5% 4.5%;
        cursor: pointer;
        .img{
            display: flex; justify-content: center; align-items: center;
            width: 100%; height: 100%;
            background: #272727;
        }
        .name{
            width: 100%; height: 100%;
            display: flex; align-items: center;
            h4{
                width: 100%;
                height: auto;
                max-height: 100%;
                font-size: .8rem;
                transition: all ease .5s;
                overflow-wrap: break-word;
            }
        }
        &:hover .name h4{
            color: #6128FF;
        }
    }
}
@media screen and (max-width:1270px) and (min-width:900px) {
    .chapter{
        grid-template-columns: 100% !important;
        .name{display: none !important;}
    }
}
@media screen and (max-width:900px) {
    .chapter{
        padding: 0 !important;
        .img{
            background: none !important;
        }
    }
}